.root {
  display: flex;
  align-items: center;
  gap: var(--space-8);
  padding-left: var(--space-12);
  margin-bottom: var(--space-20);

  color: var(--gray-700);
  font-size: var(--title-sm);
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.2px;
  text-decoration: none;

  img {
    width: 28px;
    height: 28px;
  }
}
