.root {
  max-width: 100%;

  textarea {
    height: 40px;
    padding: 0;

    font-size: var(--title-sm);
    font-weight: 500;
    line-height: normal;

    border: 0;
    border-radius: 0;

    resize: none;

    &::placeholder {
      color: var(--gray-500);
    }

    &:focus {
      border-color: transparent;
    }
  }
}
