.root {
  margin-left: auto;
}

.more.button {
  padding: var(--space-8);

  font-size: 0;

  background-color: transparent;
  border: 0;

  box-shadow: none;
  transition: opacity 0.3s;

  &:hover {
    background-color: var(--gray-100);
  }
}

.more.open {
  background-color: var(--gray-100);
}

.actions {
  position: absolute;
  top: 40px;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 140px;
  padding: var(--space-4);

  background-color: var(--base-white);
  border: 1px solid var(--gray-200);
  border-radius: var(--radius-md);

  box-shadow: var(--shadow-md);
}

.actions .button {
  gap: var(--space-8);
  width: 100%;
  padding: 10px;
  overflow: hidden;

  border: 0;
  border-radius: var(--radius-sm);

  box-shadow: none;

  &:hover {
    background-color: var(--gray-100);
  }
}

.button.delete {
  svg path {
    stroke: var(--red-500);
  }
}

.button.edit {
  svg path {
    stroke: var(--gray-500);
  }
}
