.root {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  width: 220px;
  padding: var(--space-32) var(--space-16);
}

.link {
  display: flex;
  align-items: center;
  gap: var(--space-12);
  padding: var(--space-8) var(--space-12);

  color: var(--gray-700);
  font-size: var(--text-md);
  font-weight: 500;
  text-decoration: none;

  border-radius: var(--radius-sm);

  &:hover {
    background-color: var(--gray-100);
  }

  svg path {
    stroke: var(--gray-500);
  }
}

.link.active {
  color: var(--gray-800);

  background-color: var(--gray-100);
}
