.root {
  display: flex;
  min-height: 100vh;
}

.layout {
  flex: 1;

  padding: var(--space-8);
}

.main {
  position: relative;

  height: 100%;
  padding: var(--space-32);

  background-color: var(--base-white);
  border: 1px solid #dfe0e3;
  border-radius: var(--radius-2xl);
}

.header {
  margin-bottom: var(--space-32);
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  margin: 0 auto;
  margin-top: var(--space-128);
}

.title {
  margin-bottom: var(--space-12);

  font-weight: 600;
}

.info {
  color: var(--gray-600);
  font-size: var(--text-md);
}

.form {
  width: 100%;
}

.inputWrapper {
  max-width: 100%;
  margin-bottom: var(--space-20);

  input {
    height: 44px;
  }
}

.button {
  justify-content: center;
  width: 100%;
}

.link {
  display: inline-block;

  color: var(--primary-700);
  font-size: var(--text-sm);
  font-weight: 500;
  text-decoration: none;
}

.actions {
  margin-bottom: var(--space-20);
}

.signup {
  color: var(--gray-500);
  font-size: var(--text-sm);
  text-align: center;

  .link {
    margin-left: 2px;
  }
}
