.root {
  position: relative;

  padding-top: var(--space-96);

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100vh;

    background: linear-gradient(
        to right,
        #f9fafb 0%,
        rgb(249 250 251 / 0%) 60%,
        rgb(249 250 251 / 0%) 40%,
        #f9fafb 100%
      ),
      repeating-linear-gradient(
        0deg,
        var(--gray-100),
        var(--gray-100) 1px,
        transparent 1px,
        transparent 48px
      ),
      repeating-linear-gradient(
        90deg,
        var(--gray-100),
        var(--gray-100) 1px,
        transparent 1px,
        transparent 48px
      );
    background-blend-mode: overlay;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  padding: var(--space-32);
  margin: 0 auto;

  background: var(--base-white);
  border: 1px solid var(--gray-100);
  border-radius: var(--radius-xl);

  box-shadow: var(--shadow-md);
}

.title {
  margin-bottom: var(--space-12);

  color: var(--gray-900);
  font-size: 30px;
  font-weight: 600;
}

.info {
  margin-bottom: var(--space-32);

  color: var(--gray-600);
  font-size: var(--text-md);
}

.title,
.info {
  text-align: center;
}

.form {
  width: 100%;
}

.inputWrapper {
  max-width: 100%;
  margin-bottom: var(--space-20);

  input {
    height: 44px;
  }
}

.button {
  justify-content: center;
  width: 100%;
}

.link {
  display: inline-block;

  color: var(--primary-700);
  font-size: var(--text-sm);
  font-weight: 500;
  text-decoration: none;
}

.actions {
  margin-bottom: var(--space-20);
}

.signup {
  color: var(--gray-500);
  font-size: var(--text-sm);

  .link {
    margin-left: 2px;
  }
}
