.root {
  display: flex;
  align-items: center;

  gap: var(--space-8);
}

.name {
  flex-basis: 80px;

  font-size: var(--text-sm);
}

.item {
  position: relative;

  display: flex;
  align-items: center;
  gap: var(--space-8);
}

.badge {
  padding-right: 12px;
  padding-left: 12px;

  font-weight: 600;

  cursor: pointer;
}

.options {
  position: absolute;
  top: 0;
  z-index: 2;

  display: flex;
  flex-direction: column;
  gap: var(--space-8);
  min-width: 140px;
  padding: var(--space-4);
  margin-top: var(--space-32);
  overflow: hidden;

  font-size: var(--text-sm);

  background-color: var(--base-white);
  border: 1px solid var(--gray-200);
  border-radius: var(--radius-md);

  box-shadow: var(--shadow-md);

  span {
    cursor: pointer;
  }
}

.optionItem {
  display: flex;
  align-items: center;
  gap: var(--space-8);
  padding: var(--space-8);

  border-radius: var(--radius-xs);

  &:hover {
    background-color: var(--gray-100);
  }

  svg {
    margin-left: auto;
  }
}
