.overlay {
  position: fixed;
  z-index: 999;
  inset: 0;

  display: flex;

  background-color: rgb(102 112 133 / 50%);
}

.root {
  position: fixed;
  top: 9px;
  right: 9px;
  bottom: 9px;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  width: 600px;

  background: white;
  border-radius: var(--radius-2xl);
}

.header {
  display: flex;
  align-items: center;
  padding: var(--space-12) var(--space-20);

  border-bottom: 1px solid var(--gray-200);
}

.header .button {
  padding: var(--space-4);

  color: var(--gray-500);
  font-size: 0;

  border: 0;

  box-shadow: none;
  transition: opacity 0.3s;

  &:hover {
    background: none;
    opacity: 0.5;
  }

  span {
    margin: 0;
  }
}
