.root {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin-bottom: var(--space-20);

  label {
    width: 100%;
    margin-bottom: var(--space-6);

    color: var(--gray-700);
    font-size: var(--text-sm);
    font-weight: 500;
  }

  input {
    width: 100%;
    padding: var(--space-8) var(--space-40) var(--space-8) var(--space-12);

    color: var(--gray-900);
    font-size: var(--text-md);

    border: 1px solid var(--gray-300);
    border-radius: var(--radius-md);

    transition: border 300ms linear;

    &::placeholder {
      color: var(--gray-500);
    }

    &:focus {
      border-color: var(--primary-400);
      outline: 0;
    }
  }
}
