.root {
  display: flex;
  height: 100vh;

  background-color: var(--gray-50);
}

.layout {
  flex: 1;

  padding: var(--space-8);
}

.main {
  height: 100%;
  padding-top: var(--space-16);

  background-color: var(--base-white);
  border: 1px solid #dfe0e3;
  border-radius: var(--radius-2xl);
}

.header {
  margin-bottom: var(--space-24);
}
