.root {
  display: flex;
  min-height: 100vh;
}

.navigation {
  position: sticky;
  top: 0;

  height: 100%;
}

.layout {
  padding: var(--space-8);

  margin-left: auto;
  flex: 1;
}

.main {
  height: 100%;
  padding: var(--space-16) var(--space-24);

  background-color: var(--base-white);
  border: 1px solid #dfe0e3;
  border-radius: var(--radius-2xl);
}

.header {
  margin-bottom: var(--space-24);

  background-color: var(--base-white);
}

.content {
  height: 100%;
  overflow: auto;
}
