.root {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 138px);
}

.input {
  max-width: 100%;
}

.textarea {
  max-width: 100%;

  textarea {
    height: 200px;

    resize: none;
  }
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-12);
  margin-top: auto;
}
