.root {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 110px);
  padding-top: var(--space-20);
}

.content {
  padding: 0 var(--space-20) var(--space-40);

  border-bottom: 1px solid var(--gray-200);
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-12);
  padding: 0 var(--space-20);
  margin-top: auto;
}
